<h1>Password Generator</h1>
<div>
  <label>Enter length</label>

  <input (input)="onChangeLength($event)" />
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox" />
</div>

<div>
  <!-- Disabled will be set to true if length doesnot exist and any of these (includeLetters, includeNumbers, includeSymbols) are not checked-->
  <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))"
    (click)="onButtonClick()">Generate!</button>
    <!-- 
      Event Binding Syntax
      (click) tell angular to watch for click event, when button gets clicked call onButtonClick function
    -->
</div>
<!-- NgIf When expression evaluates to true, Angular renders the template provided in a then clause, 
  and when false or null, Angular renders the template provided in an optional else clause,
-->
<div *ngIf="password">
  <label>Your Password</label>
  <!-- 
    Property Binding Syntax
    [value] Name of the property we want to set on this element (We want to set the value property)
    "password" name of the property in our class to put here. Evaluated as code!
    Take a look at component class instance, password property (whatever that property value is, 
    take it in as actual value for this input)
    Whenever password property on class changes, Angular automatically detects that.
    Its going to automatically take the updated password property and throw it in as the new value
    to our input.
  -->
  <input [value]="password" />
</div>